@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bakbak";
    src: url("./fonts/BakbakOne-Regular.ttf");
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
